.container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.table {
    width: 60%;
    border-spacing : 10px;
    border-color : rgb(32, 32, 34);
    border-style: solid;
    border-collapse: collapse;
    
    th, td {
        border: 1px solid grey;
    }
}

.english, .russian {
    font-style: bold;
}

.transcription {
    font-style:italic;
}

