.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 100%;
    text-align: center;
    margin-top: 60px;
    


    img {
        width: 60%; 
        
    }

    button {
        align-self: center;
        color: #431e71;
        transition: all 0.2s ease;
     }
        button:hover {
                color: red;
            }
    }


