@import '../../style/index.scss';

.desk, .counter {
    display: flex;
    justify-content: center; /* центрирование по горизонтали */
    align-items: center; /* центрирование по вертикали */
}

.switch {
    @extend .default-button;
    background-color: rgb(104, 104, 104);
}
