.header {
    // display: flex;
    // justify-content: space-evenly;
    width: 100vw;
    height: 5rem; 
    position: fixed;
    top: 0;
    background-color: #139ed8;
    

    // ul {
    //     padding: 20px;
    //     margin: 0 auto;
    //     list-style: none;
    //     text-align: center;

    //     li {
    //         display: inline-block;
    //         margin: 0 10px;

    //         a {
    //             padding: 10px 0;
    //             color: #fff;
    //             font-size: 1rem;
    //             text-decoration: none;
    //             font-weight: bold;
    //             transition: all 0.2s ease;
    //         }

    //         a:hover {
    //             color: #34495E;
    //         }
    //     }

            
    // }
}

nav {
    display:flex;
    border: 5px dotted black;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
        padding: 0 1rem;
        font-size: 1.5rem;

    }
}





    