@import '~bootstrap/scss/bootstrap';

html,
body,
#root {
  height: 100vh;
}

.container__table {
  max-width: 1200px;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-effect:hover {
  transform: scale(1.1);
}
